#btn-submit{
    
    width: 60px;
    border: 2px;
    border-radius: 5px;
 background: rgba(128,128,128, 0.3) ;
 padding: 8px;
 
}
#new-item{
    padding: 10px;
    
    width: 300px;
    border: 2px solid grey;
    border-radius: 5px;


}
li{
    /* display:inline-block; */
    border: 2px;
    border-radius: 5px;
 background: rgba(128,128,128, 0.3) ;
 margin-top: 10px;
 padding: 8px;
 list-style: none;
 width: 300px;

}
